@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
*{
    padding:0;
    margin:0;

}
body{
    

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.15;
    color:#111;
}
#fullnewproduct{
    max-width: 1200 px;
margin:auto;
}
#fullbestseller{
max-width: 1200 px;
margin:auto;
}
.headline{
    text-align: center;
    margin:40px 0px;
}
h3{
    font-size: 18px;
    color:#bebebe;
    padding: 10px 20px;
    text-transform: uppercase;
    border:1px solid #bebebe;
    display:inline-block; 
    color:#555;
    font-weight:600;
}
.products{
    list-style:none;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #92aac7;
}
.products> li{
    width: 25%;
    padding-left: 15px;
    padding-right:15px;
    box-sizing: border-box;
   

}
.produc-info>a{
    text-decoration: none;
}

 li:hover .buy-now{
    bottom:0px;

}
li:hover img{
    filter: opacity(70%);
}
ul.products li img{
    width: 100%;
    
}
.product-top{
    position:relative;
    overflow:hidden;
    }

.product-info{
    padding: 5px 0px;
    line-height: initial;
}
.product-info a {
    text-decoration: none;

}
.product-danhmuc{
    font-size:11px ;
    text-transform: uppercase;
    color:#545454;}
    
.image-product>img{
    display:block;

}
.product-name{
    color:#0B0432;
    padding: 3px 0px;
}
.product-price{
    color:#111;
    padding:2px 0px;
    font-weight: 600;
}
.buy-now{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display:block;
    background-color:#ff443a;
    color:white;
    padding:15px 0px;
    position:absolute;
width:100%;
transition:0.25s ease-in-out;
opacity:0.85;

}
.image-product>img{
    height:300px;
}